## Dictionaries

In [3]:
my_dictionary = dict()
my_dictionary['key'] = 'value' #key-value pairing
my_dictionary.update({'name':'doruk'})

In [4]:
print(my_dictionary)

{'key': 'value', 'name': 'doruk'}

In [6]:
list_of_keys = my_dictionary.keys()
list_of_values = my_dictionary.values()
print(list_of_keys,list_of_values)

dict_keys(['key', 'name']) dict_values(['value', 'doruk'])

In [8]:
food_calories ={'apple': 200,'banana':300}

In [9]:
print(food_calories)

{'apple': 200, 'banana': 300}

In [11]:
mixed_dictionary = food_calories.update(my_dictionary)

In [12]:
print(mixed_dictionary)

None

In [13]:
food_calories

{'apple': 200, 'banana': 300, 'key': 'value', 'name': 'doruk'}

?

In [25]:
#swapping places of keys and values in dictionary
swapped_dictionary = {y:x for x,y in food_calories.items()}
#dict.items() returns dict objects as tuples
#we can use tuples to create dictionaries

In [26]:
print(food_calories)
print(swapped_dictionary)

{'apple': 200, 'banana': 300, 'key': 'value', 'name': 'doruk'}
{200: 'apple', 300: 'banana', 'value': 'key', 'doruk': 'name'}

# Sets

In [27]:
my_set = {1,2,3,4,5,6,7,8,"wow"}

In [28]:
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 'wow'}

In [32]:
#Lists can be converted into sets. 
#Since sets can only contain 1 of the duplicated elements, we can utilize this property to get rid
#of duplicated elements
#Ex
my_list_1 = [1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,3,3,3,3,3,3,'a','a','a']
my_set_1 = set(my_list_1)
print(my_list_1)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 'a', 'a', 'a']

In [33]:
print(my_set_1)

{1, 2, 3, 'a'}

## Reminder

In [34]:
#Creating empty list,set,dict, etc..
empty_set = set()
empty_list = list()
empty_dict = dict()
empty_string = str()
empty_integer = int()
empty_tuple = tuple()
empty_float = float()
empty_bool = bool()

In [35]:
print(empty_integer)

0

# :D

# Tuples (are immutable)

In [38]:
my_tuple = (1,3,4,5)

In [39]:
type(my_tuple)

tuple

In [40]:
my_tuple[0]

1