In [1]:
5*5

25

In [2]:
print(5*5)

25

In [10]:

for x in range(5):
    print(5*x +1)

1
6
11
16
21

In [ ]:
while True:
    for i in range(21):
        print(i*5 //2)
        print(i^2 // 2)
    break

In [23]:
3*5

15

In [13]:
t = 200 + 999 // 9 + 21*5 + pow(5,2) + pow(25,1/2) 
print(t)

446.0

In [14]:
x = 5
y = 4

In [15]:
x*y

20

In [17]:
y * 't'

'tttt'

In [19]:
z = [1,2,3,4]
A = [[1,2,3],
    [4,5,6]]
print(f"z[-1] = {z[-1]}, A[0][1] = {A[0][1]}")

z[-1] = 4, A[0][1] = 2

In [22]:
a = 3
b = 2.3
c = t
d = 32.0000

print(f'''a ={type(a)}
b = {type(b)}
a*c = {type(a*c)}
d = {type(d)}
a*d = {type(a*d)}''')

a =<class 'int'>
b = <class 'float'>
a*c = <class 'float'>
d = <class 'float'>
a*d = <class 'float'>

Arithmetic Operations

In [24]:
x = 5
x**4 #power

625

In [26]:
10 % 2 #remainder

0

## Taking Inputs

In [28]:
user_input = input("Do you want to continue? [y/n] \n")

Do you want to continue? [y/n]
y

In [32]:
for i in range(7):
    print(i)
    if i == 3:
        if user_input == 'y':
            continue
        else:
            print("Exit")
            break

0
1
2
3
4
5
6

Strings

In [33]:
"hello world"

'hello world'

In [34]:
x = "hello world"
type(x)

str

### String OPs

In [38]:
y = "I am relearning python for the Xth time."

In [39]:
x+y

'hello worldI am relearning python for the Xth time.'

In [40]:
x*4

'hello worldhello worldhello worldhello world'

In [43]:
(x+y)*3

'hello worldI am relearning python for the Xth time.hello worldI am relearning python for the Xth time.hello worldI am relearning python for the Xth time.'

In [44]:
len(x)

11

Indexing

In [46]:
for i in range(11):
    print(x[i])

h
e
l
l
o

w
o
r
l
d

## Defining Functions

In [50]:
def print_string_vertical(x):
    len_string = len(x)
    for i in range(len_string):
        print(x[i])
        
        
print_string_vertical(x)

h
e
l
l
o

w
o
r
l
d

# Slicing

In [55]:
incoming_data = "Name: John Doe Age:32"
age = incoming_data[-6:]
print(age)

Age:32

In [62]:
#Step size
print(incoming_data[3:7:2])

#Reversing a string
reverse_string = incoming_data[::-1]
print(reverse_string)

e
23:egA eoD nhoJ :emaN

In [65]:
incoming_data.capitalize()

'Name: john doe age:32'

In [66]:
incoming_data.upper()

'NAME: JOHN DOE AGE:32'

In [67]:
incoming_data.lower()

'name: john doe age:32'

In [68]:
incoming_data.split(" ")

['Name:', 'John', 'Doe', 'Age:32']

In [75]:
incoming_data.center(5)

'Name: John Doe Age:32'