In [1]:
def divide_function(number):
    return number/2

In [2]:
divide_function(10)

5.0

In [3]:
my_list = [1,2,3,4,5,6,7,8,9]

In [4]:
new_list = []

In [5]:
for number in my_list:
    new_list.append(divide_function(number))

print(new_list)

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

## map

In [6]:
map(divide_function, my_list)

In [7]:
new_list_map = list(map(divide_function, my_list))

In [8]:
new_list_map

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

In [11]:
def control_a_function(string_type):
    return 'a' in string_type

In [12]:
control_a_function('amy')

True

In [13]:
string_type_list = ['amy', 'ken', 'nakai', 'paul', 'family']

In [17]:
results = list(map(control_a_function, string_type_list))

In [18]:
results.count(False)

1

In [19]:
print(results)

[True, False, True, True, True]

## filter

In [20]:
list(filter(control_a_function, string_type_list))

#strings that contain 'a' in it.

['amy', 'nakai', 'paul', 'family']

## lambda

In [21]:
multiply = lambda number : number * 3

In [22]:
multiply(20)

60

In [23]:
example_list = [10,20,30,40]

In [24]:
list(map(lambda number : number * 4, example_list))

[40, 80, 120, 160]